error_log
/backend/assets/*
!/backend/assets/AppAsset.php
!/backend/assets/JqueryAssets.php
/assets/*
!/assets/AppAsset.php
!/assets/JqueryAssets.php
!/assets/BackendAsset.php
!/assets/BackendJqueryAssets.php
*~
/nbproject/
/.idea/
!*empty
/backend/runtime/
/runtime/*
backend/minify/*
minify/*
uploads/article/
uploads/brochure/
uploads/college_logo/
uploads/conference/
uploads/cv/
uploads/reviewer_certi
uploads/format_request
uploads/users/
uploads/ar_certi/
/uploads/csv/
uploads/reviewer_pic/
runtime/*
backend/runtime/*
uploads/*
